doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Chinedu
    body 
        h1 Dashboard

        - let user = {name: 'Chinedu', loggedIn: true, lastLoggedIn: 11}
        //- conditionals
        if user.loggedIn
            p  Welcome back, <strong> #{email}
        else if user.loggedIn < 10
            p Your last loggin was #{user.lastLoggedIn} mins ago 
        else   
            p  last loggedIn #{user.lastLoggedIn} <br>
               a(href="/users/login") Login