<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
  
  <title>IP Address Tracker</title>

  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <div class="heading"> IP Address Tracker </div>
    <form action="/track" method="post">
      <div class="form-control">
        <input type="search" name="ip address" class="ip-address">
      </div>
    </form>
  </div>

  Search for any IP address or domain

  IP Address
  Location
  Timezone
    UTC <!-- add offset value dynamically using the API -->
  ISP
  
  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="#">Your Name Here</a>.
  </div>
</body>
</html>