doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Articles
        style.
            *{
                margin: 0px;
                box-sizing: border-box;
            }

            .container{
                width: 300px;
                margin: 4.5em auto;
            }

            h2{margin-bottom: 15px}
            
            .control{
                margin: 20px 0px;
                font-size: 18px;
            }
            input{
                display: block;
                width: 100%;
                margin-top: 5px;
                padding: 10px;
                border-radius: 8px 
            }
            .btn {
                text-align: center;
                margin: 10px 0 13px
            }
            button {
                font-size: 18px;
                background-color: lightblue;
                padding: 10px 20px;
                cursor: pointer;
                border-radius: 10px
            }
    body 
        .container 
            h2 LOGIN 
            form(action="/users/login", method="post")
                .control 
                    label(for="email") Email
                    input(type="text", name="email", id="email")  
                .control 
                    label(for="password") Password
                    input(type="password", name="password", id="password") 
                .btn
                    button(type="submit") Login

            .register Don't have an account? 
                a(href="/users/register") Register