doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Chinedu
        style.
          *{
            padding: 0px;
            list-style-type: none;
            margin: 0px;
          }

          body {
            background-color: blue;
            color: white;
          }

          ul{margin-top: 15px}

          li{
            margin: 10px 20px;
            font-size: 18px;
            cursor: pointer;
          }

          p{
            font-size: 18px
          }

          strong{
            text-transform: uppercase;       
          }
          .welcome{
            text-align: center;
            margin: 30px 0px;
            font-size: 36px;
            font-weight: bold;
          }
          .register, .login{
            margin-top: 10px;
            font-size: 20px;
          }
          a{
            text-decoration: none;
            color: white;
            background-color: red;
            padding: 8px 13px;
            display: inline-block;
          }
    body
        section.container
            h1 Welcome Chinedu
            p This is Chinedu, <br/> the automatic <strong> website builder </strong> and the optimistic guy who is always able to anything on his own so fear him because he can do anything to be rich so am very happy to meet the awesome or nigga or even to be one. 
            ul 
              li This is item #1  
              li This is item #2  
              li This is item #3
              li This is item #4
            form(action="/" method="post")
              input(type="text" name="name" value=`${ value !== undefined ? name : ''}` id= "name" placeholder="Username")
              button(type="submit") Continue
        .welcome Welcome
            .register 
              a(href="/users/register") Register 
            .login 
              a(href="/users/login") Login 
            //- - const myImg = {"src": "oldplutox logo.jpg", "alt": "logo"} 
            //- img&attributes(myImg)
        .articles 
            ul
              //- each loop
              each article, i in articles
                li= article.id
                li= article.title 
                li= article.article     
            
              //- conditional